---
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
import FaqS from "../components/FaqS.astro"
---

<Layout>
<div class="bg-black p-4 rounded-lg shadow-xl py-8 mt-12">
    <div class="space-y-4">
    <FaqS pregunta="¿Qué es Nutri Pills?" contenido="Es un suplemento natural para mejorar tu energía y bienestar." ></FaqS>

    </div>
</div>
</Layout>
