---
---
<header class="bg-black text-white flex justify-end items-center gap-8 pr-10">
    <a href="Contacto">Contacto</a>
    <a href="Patrocinadores">Patrocinadores</a>
    <a href="Comprar">Comprar</a>
</header>