---
---
<section id="selectionone" class="bg-[url('../../public/pildora_vr.png')] bg-cover bg-center min-h-screen">

        <div class="flex flex-col items-center justify-center min-h-screen bg-black/60 text-center px-4 ">
            <h1 class="text-4xl md:text-6xl font-bold text-white mb-4">Bienvenido a Nutripills</h1>
            <p class="text-lg md:text-2xl text-white mb-8">Tu fuente confiable de suplementos nutricionales</p>
        </div>

</section>